/* General */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Paytone+One&display=swap');

body {
  background-color:rgb(232,234,226);
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}

/* Landing */
.landing {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
}

.landing-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left:0;
  z-index: 4;
}

.blue-wave {
  position: absolute;
  width: auto;
  min-width: 80vw;
  height: auto;
  min-height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 5;
}

.foobar-logo-landing {
  position: absolute;
  width: 200px;
  height: auto;
  top: 100px;
  left: calc(50% - 100px);
  z-index: 6;
}

.qr-sample {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 100px;
  left: calc(50% - 50px);
  z-index: 7;
}

/* Header */
h1 {
  font-family: 'Paytone One', sans-serif;
  margin: 200px auto;
  color: rgb(255, 255, 255);
  font-size: 5em;
}
.foobar-logo {
  position: absolute;
  width: 50px;
  height: auto;
  padding: 30px;
}

.header-image {
  position: absolute;
  width: 100%;
  max-width: 1000px;
  top: 100px;
  right: 0;
  object-fit: cover;
  height: auto;
  z-index: -9;
}

.orange-wave {
  position: absolute;
  top: 400px;
  left: -10px;
  width: 103%;
  height: auto;
  z-index: -8;
}

/* Cart */
.Cart {
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgb(225,227,216);
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100%;
  z-index: 1;
  overflow-y: hidden;
}

.CartContent {
  margin-top: 100px;
  text-align: center;
}

.cart-btn {
  position: absolute;
  font-size: 2em;
  height: auto;
  top: 20px;
  right: 20px;
  padding: 20px;
}

.x-btn {
  position: fixed;
  font-size: 2em;
  height: auto;
  top: 20px;
  right: 20px;
  padding: 20px;
  z-index: 2;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Payment Form */
.CheckoutForm {
  background-color:rgb(225,227,216);
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 50px auto;
  width: 300px;
}

form h3 {
  text-align: center;
}

form > input {
  border: none;
  border-radius: 10px;
  height: 30px;
}

form > label {
  font-size: smaller;
  margin-top: 10px;
  margin-bottom: 3px;
}

.submit-btn {
  margin: 20px 50px;
  background-color: transparent;
  border: 2px solid rgb(134, 82, 232);
  border-radius: 20px;
  height: 40px;
  font-weight: bolder;
  color:rgb(134, 82, 232);
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(134, 82, 232);
  color: rgb(255, 255, 255);
}

/* Product */
.ProductList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Product {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.Product h3 {
  font-family: 'Paytone One', sans-serif;
  color: rgb(171, 207, 234);
  margin: 10px;
}

.Product h4 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(229, 117, 10);
  font-weight: 500;
  font-size: smaller;
  margin: 5px 10px;
}

.Product p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: smaller;
  margin: 5px 10px;
}

.Product button {
  background-color: rgb(255, 255, 255);
  width: 100px;
  color: rgb(229, 117, 10);
  border: 2px solid  rgb(229, 117, 10);
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: 190px;
  cursor: pointer;
}

.Product button:hover {
  background-color: rgb(229, 117, 10);
  color: rgb(255, 255, 255);
}

.beer-logo {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  opacity: 80%;
}

/* Footer */
footer {
  text-align: center;
}

footer h2 {
  font-family: 'Paytone One', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin: 100px;
}

/* Media Queries */
@media screen and (min-width: 800px) {

  .landing-image {
    position: absolute;
    top: -300px;
    height: auto;
  }

  .ProductList {
    align-items: center;
    justify-content: left;
    margin-right: 200px;
    margin-left: 100px;
  }
}

/* Things in progress */

.tryout {
  position: absolute;
  z-index: 40;
}

.isgreen{
  animation: isgreen 1s 1;
}

@keyframes isgreen{
  0%{
    color: black;
    font-size: 2em;

  }
  50%{
    color: green;
    font-size: 3em;
      }
  100%{
    color: black;
    font-size: 2em;
  }
}