.App {
  margin: 50px;
  display: grid;
}

.ProductList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.Product {
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 50px;
}