/* General */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Paytone+One&display=swap');

body {
  background-color:rgb(225,227,216);
}

.App {
  display: flex;
  flex-direction: column;
}

/* Header */
h1 {
  font-family: 'Paytone One', sans-serif;
  margin: 200px auto;
  color: rgb(255, 255, 255);
  font-size: 5em;
}
.foobar-logo {
  position: absolute;
  width: 50px;
  height: auto;
  padding: 30px;
}

.header-image {
  position: absolute;
  width: 100%;
  max-width: 1000px;
  opacity: 60%;
  top: 100px;
  right: 0;
  object-fit: cover;
  height: auto;
  z-index: -9;
}

.orange-wave {
  position: absolute;
  top: 400px;
  left: -10px;
  width: 103%;
  height: auto;
  overflow: hidden;
  z-index: -8;
}

/* Cart */
.Cart {
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgb(225,227,216);
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.CartContent {
  margin-top: 200px;
  text-align: center;
}

.cart-btn {
  position: absolute;
  width: 30px;
  height: auto;
  top: 20px;
  right: 10px;
  padding: 20px;
  z-index: 2;
}

.x-btn {
  position: fixed;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Payment Form */
form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 150px auto;
  width: 300px;
}

form > input {
  border: none;
  border-radius: 10px;
  height: 30px;
}

.submit-btn {
  margin: 20px 50px;
  background-color: transparent;
  border: 2px solid purple;
  border-radius: 20px;
  height: 40px;
}

/* Product */
.ProductList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Product {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.Product h3 {
  font-family: 'Paytone One', sans-serif;
  color: rgb(171, 207, 234);
  margin: 10px;
}

.Product h4 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(229, 117, 10);
  font-weight: 500;
  font-size: smaller;
  margin: 5px 10px;
}

.Product p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: smaller;
  margin: 5px 10px;
}

.Product button {
  background-color: rgb(255, 255, 255);
  width: 100px;
  color: rgb(229, 117, 10);
  border: 2px solid  rgb(229, 117, 10);
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: 190px;
  cursor: pointer;
}

.Product button:hover {
  background-color: rgb(229, 117, 10);
  color: rgb(255, 255, 255);
}

.beer-logo {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  opacity: 70%;
}

/* Footer */
footer {
  text-align: center;
}

footer h2 {
  font-family: 'Paytone One', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin: 100px;
}

/* Media Queries */
@media screen and (min-width: 800px) {
  .ProductList {
    align-items: center;
    justify-content: left;
    margin-right: 200px;
    margin-left: 100px;
  }
}